.container-header {
    padding: 10px;
    background-color : #7765cb;    
}

.container-header .header-content {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
}
.container-header img {
    height: 50px;
}

.container-header {
    color: #fff;
}

.container-header .information {
    align-items: center;
    justify-content: center;
    display: flex;
}

.container-header .information a {
    margin-left: 15px;
}