.container-table {
    width: 100%; 
}

.container-table .table-header {
    display: flex;
    flex-direction: row;
    padding: 15px 15px;
}



.container-table .table-col {
    width: 150px;
    color: rgba(0,0,0,.5);
    justify-content: flex-start;
    align-items: center;
    display:flex;
}

.container-table .table-col-lg {
    width: 300px;
}

.container-table .table-item {
    margin-top: 20px;
    padding: 15px 15px;
    display: flex;
    flex-direction: row;

    background-color: #fff;
    border-radius: 5px;

    box-shadow: 0 1px 3px rgba(0,0,0,.3)
}

.container-table .table-item .table-item-product{
    flex-direction: row;
    display: flex;
}

.container-table .table-item .table-item-product .table-item-icon {
    width: 42px;
    height: 42px;
    border-radius: 50%;
    background-color: #2ecc71;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 20px;
}

.container-table .table-item .table-item-product .table-item-icon.success{
    background-color: #2ecc71;
}

.container-table .table-item .table-item-product .table-item-icon.info{
    background-color: #2980B9;
}

.container-table .table-item .table-item-product .table-item-icon.warning{
    background-color: #F1C40F;
}

.container-table .table-item .table-item-product .table-item-icon.danger{
    background-color: #E74C3C;
}

.container-table .table-item .table-item-product .table-item-text {
    display: flex;
    flex-direction: column;
}

.container-table .table-item .table-item-product .table-item-text strong {
    color : #7765cb;
}